@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");
:root {
  --dark-mood-switch-btn: linear-gradient(
    to right,
    hsl(210, 78%, 56%),
    hsl(146, 68%, 55%)
  );
  --light-mood-switch-btn: hsl(230, 22%, 74%);
  --text-font: 'Abel', sans-serif;
  --white-text-color: #fff;
  --black-text-color: #333;
  --background-part1: linear-gradient(90deg, #fd746c 0%, #ff9068 100%);
  --button-color: #333;
  --card-background: #333;
  --background-page: linear-gradient(90deg, #ece9e6 0%, #ffffff 100%);
  --count-background: #333;
  --text-count-card:#fff;
}

[data-theme="dark"] {
  --background-page: #333;
  --black-text-color: #fff;
  --count-background:#fff;
  --text-count-card:#333;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  background: var(--background-page);
  scroll-behavior: smooth;
}

#sidebarNav {
  display: none;
}

.footer {
  background: var(--card-background);
  color: var(--white-text-color);
  width: 100%;
  bottom: 0;
  padding-right: 6%;
  padding-left: 6%;
  height: auto;
  font-family: var(--text-font);
}

.footer .nav {
  padding-top: 5rem;
  padding-bottom: 3rem;
  border-bottom: 0.1px white solid;
  color: var(--white-text-color);
}

.footer .nav .menu ul li a {
  color: var(--white-text-color);
}

.footer .infoFooter {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  color: gray;
  margin-top: 3rem;
  padding-bottom: 3rem;
  font-weight: bold;
}

.footer .infoFooter .info_3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.footer .infoFooter .info_3 i {
  font-size: 3rem;
  margin-right: 2rem;
  color: #fff;
}

.barFooter {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  background: var(--background-part1);
  grid-gap: 25rem;
  padding-top: 7rem;
  padding-bottom: 7rem;
  padding-left: 4rem;
  padding-right: 3rem;
  margin-top: 4rem;
  border-radius: 10px;
  top: 0;
  height: auto;
  -webkit-transform: translateY(-10rem);
          transform: translateY(-10rem);
}

.barFooter h3 {
  font-size: 2em;
}

/*Desktop Nav*/
/*Mobile Nav*/
:root {
  --dark-mood-switch-btn: linear-gradient(
    to right,
    hsl(210, 78%, 56%),
    hsl(146, 68%, 55%)
  );
  --light-mood-switch-btn: hsl(230, 22%, 74%);
  --text-font: 'Abel', sans-serif;
  --white-text-color: #fff;
  --black-text-color: #333;
  --background-part1: linear-gradient(90deg, #fd746c 0%, #ff9068 100%);
  --button-color: #333;
  --card-background: #333;
  --background-page: linear-gradient(90deg, #ece9e6 0%, #ffffff 100%);
  --count-background: #333;
  --text-count-card:#fff;
}

[data-theme="dark"] {
  --background-page: #333;
  --black-text-color: #fff;
  --count-background:#fff;
  --text-count-card:#333;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  background: var(--background-page);
  scroll-behavior: smooth;
}

#sidebarNav {
  display: none;
}

.footer {
  background: var(--card-background);
  color: var(--white-text-color);
  width: 100%;
  bottom: 0;
  padding-right: 6%;
  padding-left: 6%;
  height: auto;
  font-family: var(--text-font);
}

.footer .nav {
  padding-top: 5rem;
  padding-bottom: 3rem;
  border-bottom: 0.1px white solid;
  color: var(--white-text-color);
}

.footer .nav .menu ul li a {
  color: var(--white-text-color);
}

.footer .infoFooter {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  color: gray;
  margin-top: 3rem;
  padding-bottom: 3rem;
  font-weight: bold;
}

.footer .infoFooter .info_3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.footer .infoFooter .info_3 i {
  font-size: 3rem;
  margin-right: 2rem;
  color: #fff;
}

.barFooter {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  background: var(--background-part1);
  grid-gap: 25rem;
  padding-top: 7rem;
  padding-bottom: 7rem;
  padding-left: 4rem;
  padding-right: 3rem;
  margin-top: 4rem;
  border-radius: 10px;
  top: 0;
  height: auto;
  -webkit-transform: translateY(-10rem);
          transform: translateY(-10rem);
}

.barFooter h3 {
  font-size: 2em;
}

/*Desktop Nav*/
/*Mobile Nav*/
:root {
  --dark-mood-switch-btn: linear-gradient(
    to right,
    hsl(210, 78%, 56%),
    hsl(146, 68%, 55%)
  );
  --light-mood-switch-btn: hsl(230, 22%, 74%);
  --text-font: 'Abel', sans-serif;
  --white-text-color: #fff;
  --black-text-color: #333;
  --background-part1: linear-gradient(90deg, #fd746c 0%, #ff9068 100%);
  --button-color: #333;
  --card-background: #333;
  --background-page: linear-gradient(90deg, #ece9e6 0%, #ffffff 100%);
  --count-background: #333;
  --text-count-card:#fff;
}

[data-theme="dark"] {
  --background-page: #333;
  --black-text-color: #fff;
  --count-background:#fff;
  --text-count-card:#333;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  background: var(--background-page);
  scroll-behavior: smooth;
}

#sidebarNav {
  display: none;
}

.footer {
  background: var(--card-background);
  color: var(--white-text-color);
  width: 100%;
  bottom: 0;
  padding-right: 6%;
  padding-left: 6%;
  height: auto;
  font-family: var(--text-font);
}

.footer .nav {
  padding-top: 5rem;
  padding-bottom: 3rem;
  border-bottom: 0.1px white solid;
  color: var(--white-text-color);
}

.footer .nav .menu ul li a {
  color: var(--white-text-color);
}

.footer .infoFooter {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  color: gray;
  margin-top: 3rem;
  padding-bottom: 3rem;
  font-weight: bold;
}

.footer .infoFooter .info_3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.footer .infoFooter .info_3 i {
  font-size: 3rem;
  margin-right: 2rem;
  color: #fff;
}

.barFooter {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  background: var(--background-part1);
  grid-gap: 25rem;
  padding-top: 7rem;
  padding-bottom: 7rem;
  padding-left: 4rem;
  padding-right: 3rem;
  margin-top: 4rem;
  border-radius: 10px;
  top: 0;
  height: auto;
  -webkit-transform: translateY(-10rem);
          transform: translateY(-10rem);
}

.barFooter h3 {
  font-size: 2em;
}

/*Desktop Nav*/
/*Mobile Nav*/
.LearnMoreBtn {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-weight: 700;
  border-radius: 5px;
  outline: none;
  border: none;
  color: var(--white-text-color);
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  background: var(--button-color);
}

.LearnMoreBtn:hover {
  cursor: pointer;
  background: white;
  color: #333;
}

.container {
  padding-left: 8%;
  padding-right: 8%;
  font-family: var(--text-font);
}

.Part1,
.Part2,
.Part3,
.Part4 {
  height: 70vh;
}

.Part1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  position: relative;
  margin-top: 4rem;
  margin-bottom: 20rem;
  text-align: justify;
  height: 35rem;
  background: var(--background-part1);
  border-radius: 10px;
  -ms-flex-line-pack: center;
      align-content: center;
  color: var(--white-text-color);
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.Part1 .Item1 {
  padding-left: 7rem;
  padding-right: 7rem;
  padding-top: 2rem;
  position: relative;
}

.Part1 .Item1 .info_3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.Part1 .Item1 .info_3 i {
  font-size: 3rem;
  margin-right: 2rem;
  color: #fff;
}

.Part1 .Item1 .Item1_1 {
  margin-bottom: 2rem;
}

.Part1 .Item1 .Item1_1 a {
  color: wheat;
}

.Part1 .Item1 .title {
  margin-top: 2rem;
  font-size: 2vmax;
}

.Part1 .Item2 {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 3rem;
  position: inherit;
}

.Part2 {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "Item3 Item4" "Item3 Item5";
  -ms-flex-line-pack: center;
      align-content: center;
  grid-gap: 3rem;
  margin-bottom: 25rem;
  text-align: center;
  opacity: 0;
}

.Part2 h3 {
  font-size: 2em;
  font-weight: 600;
  letter-spacing: 4px;
  padding-bottom: 1rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.Part2 i {
  color: #fd746c;
}

.Part2 a {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  color: var(--white-text-color);
  letter-spacing: 6px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.Part2 a:hover {
  letter-spacing: 8px;
}

.Item3:hover h3,
.Item4:hover h3,
.Item5:hover h3 {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  cursor: default;
}

.Item3 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: Item3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: var(--card-background);
  color: var(--white-text-color);
  padding-top: auto;
  padding-bottom: 10vh;
  border-radius: 15px;
  background-image: url("../Images/soft.jpg");
  background-repeat: no-repeat;
  background-size: 150vh 95vh;
  background-blend-mode: luminosity;
  background-blend-mode: overlay;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.Item4 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: Item4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: var(--card-background);
  color: var(--white-text-color);
  padding-top: 10vh;
  padding-bottom: 10vh;
  border-radius: 15px;
  background-image: url("../Images/app.jpg");
  background-repeat: no-repeat;
  background-size: 130vh 75vh;
  background-blend-mode: luminosity;
  background-blend-mode: overlay;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.Item5 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: Item5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: var(--card-background);
  color: var(--white-text-color);
  padding-top: 10vh;
  padding-bottom: 10vh;
  border-radius: 15px;
  background-image: url("../Images/gmae.jpeg");
  background-repeat: no-repeat;
  background-size: 110vh 55vh;
  background-blend-mode: luminosity;
  background-blend-mode: overlay;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.Part3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  margin-bottom: 15rem;
  color: var(--black-text-color);
  opacity: 0;
}

.Part3 .border-image {
  background: var(--count-background);
  height: 250px;
  width: 250px;
  border-radius: 150px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 3rem;
  overflow: hidden;
}

.Part3 .border-image h2 {
  color: var(--text-count-card);
  padding-top: 40%;
  font-size: 3em;
}

.Part3 h3 {
  font-size: 2em;
  font-weight: 700;
  letter-spacing: 4px;
  margin-bottom: 3rem;
}

#readMoreBtn {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-weight: 700;
  border-radius: 5px;
  outline: none;
  border: none;
  color: var(--white-text-color);
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  background: var(--button-color);
}

#readMoreBtn:hover {
  cursor: pointer;
  background: white;
  color: #333;
}

#readMoreBtn {
  display: none;
}

.containerWeb,
header {
  padding-left: 8%;
  padding-right: 8%;
  font-family: var(--text-font);
}

.Part1Web {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  position: relative;
  margin-top: 4rem;
  margin-bottom: 20rem;
  text-align: justify;
  height: 10rem;
  background: var(--background-part1);
  border-radius: 10px;
  -ms-flex-line-pack: center;
      align-content: center;
  color: var(--white-text-color);
  padding-top: 10rem;
  padding-bottom: 10rem;
  text-align: center;
  margin-bottom: 15rem;
}

.Part1Web h1 {
  font-size: 3em;
  margin-bottom: 2rem;
  font-weight: 400;
}

.cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 2em;
  margin-bottom: 15rem;
}

.Part2Web {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "Item4 Item5";
  margin-left: 8%;
  margin-right: 8%;
  -ms-flex-line-pack: center;
      align-content: center;
  grid-gap: 3rem;
  margin-bottom: 25rem;
  text-align: center;
}

.Part2Web h3 {
  font-size: 2em;
  font-weight: 600;
  letter-spacing: 4px;
  padding-bottom: 1rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.Part2Web i {
  color: #fd746c;
}

.Part2Web a {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  color: var(--white-text-color);
  letter-spacing: 6px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.Part2Web a:hover {
  letter-spacing: 8px;
}

.card1_1 {
  height: 35rem;
  width: auto;
  position: relative;
  background-image: url("../Images/e-commerce.png");
  background-size: 40rem;
  background-position-x: -5rem;
  border-radius: 10px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.card1_1:hover {
  background-size: 50rem;
  background-position-x: -10rem;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.card1_1 a {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  color: #000;
}

.card1_1 .descriptionCard {
  position: absolute;
  bottom: 0;
  background: -webkit-gradient(linear, left top, right top, from(#b79891), to(#94716b));
  background: linear-gradient(90deg, #b79891 0%, #94716b 100%);
  width: 100%;
  height: 25%;
  border-radius: 0 0 10px 10px;
  text-align: center;
  padding-top: 5%;
}

.card1_1 .descriptionCard:hover {
  cursor: pointer;
}

.card1_1 .descriptionCard h3 {
  color: #fff;
  font-size: 2em;
  font-weight: 400;
  margin-bottom: 1rem;
}

.card1_1 .descriptionCard i {
  font-size: 10px;
}

.card1_2 {
  height: 35rem;
  width: auto;
  position: relative;
  background-image: url("../Images/socail-media-dashboard-dark.png");
  background-size: 60rem;
  background-position-x: -10rem;
  border-radius: 10px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.card1_2:hover {
  background-size: 70rem;
  background-position-x: -15rem;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.card1_2 a {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  color: #000;
}

.card1_2 .descriptionCard {
  position: absolute;
  bottom: 0;
  background: -webkit-gradient(linear, left top, right top, from(#b79891), to(#94716b));
  background: linear-gradient(90deg, #b79891 0%, #94716b 100%);
  width: 100%;
  height: 25%;
  border-radius: 0 0 10px 10px;
  text-align: center;
  padding-top: 5%;
}

.card1_2 .descriptionCard:hover {
  cursor: pointer;
}

.card1_2 .descriptionCard h3 {
  color: #fff;
  font-size: 2em;
  font-weight: 400;
  margin-bottom: 1rem;
}

.card1_2 .descriptionCard i {
  font-size: 10px;
}

.card1_3 {
  height: 35rem;
  width: auto;
  position: relative;
  background-image: url("../Images/room-homepage-master.png");
  background-size: 60rem;
  background-position-x: auto;
  border-radius: 10px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.card1_3:hover {
  background-size: 70rem;
  background-position-x: -5rem;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.card1_3 a {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  color: #000;
}

.card1_3 .descriptionCard {
  position: absolute;
  bottom: 0;
  background: -webkit-gradient(linear, left top, right top, from(#b79891), to(#94716b));
  background: linear-gradient(90deg, #b79891 0%, #94716b 100%);
  width: 100%;
  height: 25%;
  border-radius: 0 0 10px 10px;
  text-align: center;
  padding-top: 5%;
}

.card1_3 .descriptionCard:hover {
  cursor: pointer;
}

.card1_3 .descriptionCard h3 {
  color: #fff;
  font-size: 2em;
  font-weight: 400;
  margin-bottom: 1rem;
}

.card1_3 .descriptionCard i {
  font-size: 10px;
}

.card1_4 {
  height: 35rem;
  width: auto;
  position: relative;
  background-image: url("../Images/grid-section.png");
  background-size: 40rem;
  background-position-x: -5rem;
  border-radius: 10px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.card1_4:hover {
  background-size: 50rem;
  background-position-x: -10rem;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.card1_4 a {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  color: #000;
}

.card1_4 .descriptionCard {
  position: absolute;
  bottom: 0;
  background: -webkit-gradient(linear, left top, right top, from(#b79891), to(#94716b));
  background: linear-gradient(90deg, #b79891 0%, #94716b 100%);
  width: 100%;
  height: 25%;
  border-radius: 0 0 10px 10px;
  text-align: center;
  padding-top: 5%;
}

.card1_4 .descriptionCard:hover {
  cursor: pointer;
}

.card1_4 .descriptionCard h3 {
  color: #fff;
  font-size: 2em;
  font-weight: 400;
  margin-bottom: 1rem;
}

.card1_4 .descriptionCard i {
  font-size: 10px;
}

.card1_5 {
  height: 35rem;
  width: auto;
  position: relative;
  background-image: url("../Images/None.png");
  background-size: 40rem;
  background-position-x: -5rem;
  border-radius: 10px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.card1_5:hover {
  background-size: 50rem;
  background-position-x: -10rem;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.card1_5 a {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  color: #000;
}

.card1_5 .descriptionCard {
  position: absolute;
  bottom: 0;
  background: -webkit-gradient(linear, left top, right top, from(#b79891), to(#94716b));
  background: linear-gradient(90deg, #b79891 0%, #94716b 100%);
  width: 100%;
  height: 25%;
  border-radius: 0 0 10px 10px;
  text-align: center;
  padding-top: 5%;
}

.card1_5 .descriptionCard:hover {
  cursor: pointer;
}

.card1_5 .descriptionCard h3 {
  color: #fff;
  font-size: 2em;
  font-weight: 400;
  margin-bottom: 1rem;
}

.card1_5 .descriptionCard i {
  font-size: 10px;
}

.card1_6 {
  height: 35rem;
  width: auto;
  position: relative;
  background-image: url("../Images/None.png");
  background-size: 40rem;
  background-position-x: -5rem;
  border-radius: 10px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.card1_6:hover {
  background-size: 50rem;
  background-position-x: -10rem;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.card1_6 a {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  color: #000;
}

.card1_6 .descriptionCard {
  position: absolute;
  bottom: 0;
  background: -webkit-gradient(linear, left top, right top, from(#b79891), to(#94716b));
  background: linear-gradient(90deg, #b79891 0%, #94716b 100%);
  width: 100%;
  height: 25%;
  border-radius: 0 0 10px 10px;
  text-align: center;
  padding-top: 5%;
}

.card1_6 .descriptionCard:hover {
  cursor: pointer;
}

.card1_6 .descriptionCard h3 {
  color: #fff;
  font-size: 2em;
  font-weight: 400;
  margin-bottom: 1rem;
}

.card1_6 .descriptionCard i {
  font-size: 10px;
}

.card1_7 {
  height: 35rem;
  width: auto;
  position: relative;
  background-image: url("../Images/None.png");
  background-size: 40rem;
  background-position-x: -5rem;
  border-radius: 10px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.card1_7:hover {
  background-size: 50rem;
  background-position-x: -10rem;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.card1_7 a {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  color: #000;
}

.card1_7 .descriptionCard {
  position: absolute;
  bottom: 0;
  background: -webkit-gradient(linear, left top, right top, from(#b79891), to(#94716b));
  background: linear-gradient(90deg, #b79891 0%, #94716b 100%);
  width: 100%;
  height: 25%;
  border-radius: 0 0 10px 10px;
  text-align: center;
  padding-top: 5%;
}

.card1_7 .descriptionCard:hover {
  cursor: pointer;
}

.card1_7 .descriptionCard h3 {
  color: #fff;
  font-size: 2em;
  font-weight: 400;
  margin-bottom: 1rem;
}

.card1_7 .descriptionCard i {
  font-size: 10px;
}

.card1_8 {
  height: 35rem;
  width: auto;
  position: relative;
  background-image: url("../Images/None.png");
  background-size: 40rem;
  background-position-x: -5rem;
  border-radius: 10px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.card1_8:hover {
  background-size: 50rem;
  background-position-x: -10rem;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.card1_8 a {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  color: #000;
}

.card1_8 .descriptionCard {
  position: absolute;
  bottom: 0;
  background: -webkit-gradient(linear, left top, right top, from(#b79891), to(#94716b));
  background: linear-gradient(90deg, #b79891 0%, #94716b 100%);
  width: 100%;
  height: 25%;
  border-radius: 0 0 10px 10px;
  text-align: center;
  padding-top: 5%;
}

.card1_8 .descriptionCard:hover {
  cursor: pointer;
}

.card1_8 .descriptionCard h3 {
  color: #fff;
  font-size: 2em;
  font-weight: 400;
  margin-bottom: 1rem;
}

.card1_8 .descriptionCard i {
  font-size: 10px;
}

:root {
  --dark-mood-switch-btn: linear-gradient(
    to right,
    hsl(210, 78%, 56%),
    hsl(146, 68%, 55%)
  );
  --light-mood-switch-btn: hsl(230, 22%, 74%);
  --text-font: 'Abel', sans-serif;
  --white-text-color: #fff;
  --black-text-color: #333;
  --background-part1: linear-gradient(90deg, #fd746c 0%, #ff9068 100%);
  --button-color: #333;
  --card-background: #333;
  --background-page: linear-gradient(90deg, #ece9e6 0%, #ffffff 100%);
  --count-background: #333;
  --text-count-card:#fff;
}

[data-theme="dark"] {
  --background-page: #333;
  --black-text-color: #fff;
  --count-background:#fff;
  --text-count-card:#333;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  background: var(--background-page);
  scroll-behavior: smooth;
}

#sidebarNav {
  display: none;
}

.footer {
  background: var(--card-background);
  color: var(--white-text-color);
  width: 100%;
  bottom: 0;
  padding-right: 6%;
  padding-left: 6%;
  height: auto;
  font-family: var(--text-font);
}

.footer .nav {
  padding-top: 5rem;
  padding-bottom: 3rem;
  border-bottom: 0.1px white solid;
  color: var(--white-text-color);
}

.footer .nav .menu ul li a {
  color: var(--white-text-color);
}

.footer .infoFooter {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  color: gray;
  margin-top: 3rem;
  padding-bottom: 3rem;
  font-weight: bold;
}

.footer .infoFooter .info_3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.footer .infoFooter .info_3 i {
  font-size: 3rem;
  margin-right: 2rem;
  color: #fff;
}

.barFooter {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  background: var(--background-part1);
  grid-gap: 25rem;
  padding-top: 7rem;
  padding-bottom: 7rem;
  padding-left: 4rem;
  padding-right: 3rem;
  margin-top: 4rem;
  border-radius: 10px;
  top: 0;
  height: auto;
  -webkit-transform: translateY(-10rem);
          transform: translateY(-10rem);
}

.barFooter h3 {
  font-size: 2em;
}

/*Desktop Nav*/
/*Mobile Nav*/
.LearnMoreBtn {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-weight: 700;
  border-radius: 5px;
  outline: none;
  border: none;
  color: var(--white-text-color);
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  background: var(--button-color);
}

.LearnMoreBtn:hover {
  cursor: pointer;
  background: white;
  color: #333;
}

.container {
  padding-left: 8%;
  padding-right: 8%;
  font-family: var(--text-font);
}

.Part1,
.Part2,
.Part3,
.Part4 {
  height: 70vh;
}

.Part1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  position: relative;
  margin-top: 4rem;
  margin-bottom: 20rem;
  text-align: justify;
  height: 35rem;
  background: var(--background-part1);
  border-radius: 10px;
  -ms-flex-line-pack: center;
      align-content: center;
  color: var(--white-text-color);
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.Part1 .Item1 {
  padding-left: 7rem;
  padding-right: 7rem;
  padding-top: 2rem;
  position: relative;
}

.Part1 .Item1 .info_3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.Part1 .Item1 .info_3 i {
  font-size: 3rem;
  margin-right: 2rem;
  color: #fff;
}

.Part1 .Item1 .Item1_1 {
  margin-bottom: 2rem;
}

.Part1 .Item1 .Item1_1 a {
  color: wheat;
}

.Part1 .Item1 .title {
  margin-top: 2rem;
  font-size: 2vmax;
}

.Part1 .Item2 {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 3rem;
  position: inherit;
}

.Part2 {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "Item3 Item4" "Item3 Item5";
  -ms-flex-line-pack: center;
      align-content: center;
  grid-gap: 3rem;
  margin-bottom: 25rem;
  text-align: center;
  opacity: 0;
}

.Part2 h3 {
  font-size: 2em;
  font-weight: 600;
  letter-spacing: 4px;
  padding-bottom: 1rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.Part2 i {
  color: #fd746c;
}

.Part2 a {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  color: var(--white-text-color);
  letter-spacing: 6px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.Part2 a:hover {
  letter-spacing: 8px;
}

.Item3:hover h3,
.Item4:hover h3,
.Item5:hover h3 {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  cursor: default;
}

.Item3 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: Item3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: var(--card-background);
  color: var(--white-text-color);
  padding-top: auto;
  padding-bottom: 10vh;
  border-radius: 15px;
  background-image: url("../Images/soft.jpg");
  background-repeat: no-repeat;
  background-size: 150vh 95vh;
  background-blend-mode: luminosity;
  background-blend-mode: overlay;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.Item4 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: Item4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: var(--card-background);
  color: var(--white-text-color);
  padding-top: 10vh;
  padding-bottom: 10vh;
  border-radius: 15px;
  background-image: url("../Images/app.jpg");
  background-repeat: no-repeat;
  background-size: 130vh 75vh;
  background-blend-mode: luminosity;
  background-blend-mode: overlay;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.Item5 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: Item5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: var(--card-background);
  color: var(--white-text-color);
  padding-top: 10vh;
  padding-bottom: 10vh;
  border-radius: 15px;
  background-image: url("../Images/gmae.jpeg");
  background-repeat: no-repeat;
  background-size: 110vh 55vh;
  background-blend-mode: luminosity;
  background-blend-mode: overlay;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.Part3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  margin-bottom: 15rem;
  color: var(--black-text-color);
  opacity: 0;
}

.Part3 .border-image {
  background: var(--count-background);
  height: 250px;
  width: 250px;
  border-radius: 150px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 3rem;
  overflow: hidden;
}

.Part3 .border-image h2 {
  color: var(--text-count-card);
  padding-top: 40%;
  font-size: 3em;
}

.Part3 h3 {
  font-size: 2em;
  font-weight: 700;
  letter-spacing: 4px;
  margin-bottom: 3rem;
}

#readMoreBtn {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-weight: 700;
  border-radius: 5px;
  outline: none;
  border: none;
  color: var(--white-text-color);
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  background: var(--button-color);
}

#readMoreBtn:hover {
  cursor: pointer;
  background: white;
  color: #333;
}

#readMoreBtn {
  display: none;
}

@media screen and (min-width: 836px) and (max-width: 1400px) {
  .cards {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .cards .descriptionCard {
    padding-bottom: 1rem;
  }
  .cards .descriptionCard h3 {
    font-size: 1.5rem;
  }
  #sidebarNav {
    display: block !important;
    text-align: right;
  }
  .nav .menu {
    display: none !important;
  }
}

@media screen and (max-width: 835px) {
  #sidebarNav {
    display: block !important;
    text-align: right;
  }
  .Part1 {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    text-align: center;
  }
  .Part1 .Item1 {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .Part1 .Item2 {
    text-align: center;
  }
  .Part2 {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "Item3" "Item4" "Item5";
    width: 100%;
    height: auto !important;
  }
  .Part2 .Item3,
  .Part2 .Item4,
  .Part2 .Item5 {
    padding-top: 10rem;
    padding-bottom: 10rem;
  }
  .Part3 {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .Part3 .Item7,
  .Part3 .Item8 {
    display: none;
  }
  .infoFooter {
    -ms-grid-columns: 1fr !important;
        grid-template-columns: 1fr !important;
    text-align: left;
  }
  .infoFooter div {
    margin-bottom: 2rem;
  }
  .nav .menu {
    display: none !important;
  }
  #readMoreBtn {
    display: block !important;
  }
  .barFooter {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    text-align: center;
    grid-gap: 5rem;
  }
  .cards {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .cards .descriptionCard {
    padding-bottom: 1rem;
  }
  .cards .descriptionCard h3 {
    font-size: 1.5rem;
  }
  .Part2Web {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "Item4" "Item5";
  }
}

.nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  padding-top: 2rem;
  position: relative;
  color: var(--black-text-color);
}

.nav .menu ul li {
  display: inline-block;
  padding-left: 0.5rem;
  font-weight: bold;
}

.nav .menu ul li a {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  color: var(--black-text-color);
}

.nav .menu ul {
  float: right;
}

.nav .menu ul li a {
  padding: 1rem 1rem;
  padding-right: 2rem;
  padding-left: 2rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.nav .menu ul li a:hover {
  border-bottom: 1px var(--black-text-color) solid;
  cursor: pointer;
  border-radius: 10px;
  border-right: 3px solid var(--background-part1);
  border-left: 3px solid var(--background-part1);
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: var(--card-background);
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding-top: 60px;
  text-align: center;
  font-weight: 700;
}

.sidenav a {
  padding-bottom: 1rem;
  padding-top: 1rem;
  text-decoration: none;
  font-size: 25px;
  color: var(--white-text-color);
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.sidenav a:not(:first-child) {
  border-bottom: 1px solid white;
  margin-left: 2rem;
  margin-right: 2rem;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.border-image {
  background: var(--count-background);
  height: 250px;
  width: 250px;
  border-radius: 150px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 3rem;
  overflow: hidden;
}

.border-image h2 {
  color: var(--text-count-card);
  padding-top: 40%;
  font-size: 3em;
}

.theme-switch-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.theme-switch-wrapper em {
  margin-right: 10px;
  font-size: 1rem;
  font-weight: 700;
  font-style: normal;
  color: var(--card-text-color);
}

.theme-switch {
  display: inline-block;
  height: 28px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display: none;
}

.slider {
  background-color: #fd746c;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 20px;
  left: 35px;
  position: absolute;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  width: 20px;
}

input:checked + .slider {
  background-color: #fff;
}

input:checked + .slider:before {
  -webkit-transform: translateX(-30px);
          transform: translateX(-30px);
  background-color: #1e202a;
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/*# sourceMappingURL=style.css.map */